<app-navbar></app-navbar>

<div class="container mx-auto mt-10">
    <div class="p-6 border-gray-300 border-2 mx-12 rounded-lg mx-auto">
        <p class="mb-2 text-xl text-blue-500 hover:text-blue-600">Usuario: {{usuarioModel.nombre}}</p>
        <form class="w-full max-w-lg mx-auto">
          <div class="flex justify-center mb-4">
            <img class="rounded-full h-32 w-32" *ngIf ="usuarioModel.imagen" [src]="usuarioModel.imagen"> <img class="rounded-full h-32 w-32" *ngIf ="!usuarioModel.imagen" src="https://image.flaticon.com/icons/png/512/44/44948.png">
          </div>
            <div class="flex flex-wrap -mx-3 mb-6">
              <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                  Nombre
                </label>
                <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white text-center" id="grid-first-name" type="text" name="nombre" #nombre="ngModel" [(ngModel)]="usuarioModel.nombre" placeholder="Editar Nombre" disabled>
              </div>
              <div class="w-full md:w-1/2 px-3">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
                  Apellido
                </label>
                <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 text-center" id="grid-last-name" type="text" name="apellido" #apellido="ngModel" [(ngModel)]="usuarioModel.apellido" placeholder="Editar Apellido" disabled>
              </div>
            </div>
            <div class="flex flex-wrap -mx-3 mb-6">
              <div class="w-full px-3">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
                  Usuario
                </label>
                <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 text-center" id="grid-password" type="text" name="usuario" #usuario="ngModel" [(ngModel)]="usuarioModel.usuario" placeholder="Editar Usuario" disabled>
              </div>
            </div>
            <div class="flex flex-wrap mx-3 mb-2">
              <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-city">
                  Editar
                </label>
                <button class="modal-open rounded-lg bg-green-600 p-2 text-white hover:bg-green-700" type="submit">
                    Editar Usuario
                </button>
              </div>
              <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-zip">
                  Eliminar
                </label>
                <button class="rounded-lg bg-red-600 p-2 text-white hover:bg-red-700" (click)="eliminarUsuario(identidadParseada._id)">
                    Eliminar Cuenta
                </button>
              </div>
            </div>
          </form>
        
    </div>
    
</div>


<!--Modal-->
<div class="modal opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center">
  <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"></div>
  
  <div class="modal-container bg-white w-9/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">
    <h1 class="text-xl text-blue-500 hover:text-blue-600 mt-4 mx-6">Editar Usuario</h1>
    
    <div class="modal-close absolute top-0 right-0 cursor-pointer flex flex-col items-center mt-4 mr-4 text-white text-sm z-50">
      <svg class="fill-current text-white" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
        <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
      </svg>
      <span class="text-sm">(Esc)</span>
    </div>

    <!-- Add margin if you want to see some of the overlay behind the modal-->
    <div class="modal-content py-4 text-left px-6">
      <div class="container mx-auto">
        <div class="p-6 border-gray-300 border-2 mx-12 rounded-lg mx-auto">
            <p class="mb-2">Editar Usuario</p>
            <form class="w-full max-w-lg mx-auto">
                <div class="flex flex-wrap -mx-3 mb-6">
                  <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                      Nombre
                    </label>
                    <input class="w-full text-lg py-2 border-b border-gray-300 focus:outline-none focus:border-indigo-500" id="grid-first-name" type="text" name="nombre" #nombre="ngModel" [(ngModel)]="usuarioModel.nombre" placeholder="Editar Nombre">
                  </div>
                  <div class="w-full md:w-1/2 px-3">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
                      Apellido
                    </label>
                    <input class="w-full text-lg py-2 border-b border-gray-300 focus:outline-none focus:border-indigo-500" id="grid-last-name" type="text" name="apellido" #apellido="ngModel" [(ngModel)]="usuarioModel.apellido" placeholder="Editar Apellido">
                  </div>
                </div>
                <div class="flex flex-wrap -mx-3 mb-6">
                  <div class="w-full px-3">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
                      Usuario
                    </label>
                    <input class="w-full text-lg py-2 border-b border-gray-300 focus:outline-none focus:border-indigo-500" id="grid-password" type="text" name="usuario" #usuario="ngModel" [(ngModel)]="usuarioModel.usuario" placeholder="Editar Usuario">
                  </div>
                  <div class="w-full px-3">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
                      URL Imágen
                    </label>
                    <input class="w-full text-lg py-2 border-b border-gray-300 focus:outline-none focus:border-indigo-500" id="grid-password" type="text" name="imagen" #usuario="ngModel" [(ngModel)]="usuarioModel.imagen" placeholder="Editar URL Imagen">
                  </div>
                </div>
                <div class="flex flex-wrap -mx-3 mb-2">
                  <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-city">
                      Editar
                    </label>
                    <button class="rounded-lg bg-green-600 p-2 text-white hover:bg-green-700" type="submit" (click)="editarUsuario()">
                        Guardar Cambios
                    </button>
                  </div>
                  <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                    <label class="modal-close block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-state">
                      Cancelar
                    </label>
                    <button class="modal-close rounded-lg bg-gray-300 p-2 text-black hover:bg-gray-400">
                        Cancelar Cambios
                    </button>
                  </div>
                </div>
              </form>
      </div>
      
    </div>
  </div>
</div>
