<app-navbar></app-navbar>
<div class="container mx-auto mt-10">
    <div class="p-6 border-gray-300 border-2 mx-12 rounded-lg mx-auto">
        <p class="mb-2">Editar Usuario</p>
        <form class="w-full max-w-lg mx-auto">
            <div class="flex flex-wrap -mx-3 mb-6">
              <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                  Nombre
                </label>
                <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="grid-first-name" type="text" name="nombre" #nombre="ngModel" [(ngModel)]="usuarioModel.nombre" placeholder="Editar Nombre">
              </div>
              <div class="w-full md:w-1/2 px-3">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
                  Apellido
                </label>
                <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-last-name" type="text" name="apellido" #apellido="ngModel" [(ngModel)]="usuarioModel.apellido" placeholder="Editar Apellido">
              </div>
            </div>
            <div class="flex flex-wrap -mx-3 mb-6">
              <div class="w-full px-3">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
                  Usuario
                </label>
                <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-password" type="text" name="usuario" #usuario="ngModel" [(ngModel)]="usuarioModel.usuario" placeholder="Editar Usuario">
              </div>
            </div>
            <div class="flex flex-wrap -mx-3 mb-2">
              <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-city">
                  Editar
                </label>
                <button class="rounded-lg bg-green-600 p-2 text-white hover:bg-green-700" type="submit" (click)="editarUsuario()">
                    Guardar Cambios
                </button>
              </div>
              <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-state">
                  Cancelar
                </label>
                <button class="rounded-lg bg-gray-300 p-2 text-black hover:bg-gray-400" routerLink="/hoteles">
                    Cancelar Cambios
                </button>
              </div>
              <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-zip">
                  Eliminar
                </label>
                <button class="rounded-lg bg-red-600 p-2 text-white hover:bg-red-700">
                    Eliminar Cuenta
                </button>
              </div>
            </div>
          </form>
        
    </div>
    
</div>
