<body class="mx-auto">
    
    <nav class="flex items-center justify-between flex-wrap bg-blue-900 p-6">
      <a href="">
        <div class="flex items-center flex-shrink-0 text-white mr-16">
          <span class="font-semibold text-xl tracking-tight">EZHOTEL</span>
        </div>
      </a>
        <div id='menu' class="w-full block flex-grow lg:flex lg:items-center lg:w-auto text-white">
          <div class="text-sm lg:flex-grow">
            <a href="taller.html" class="block mt-4 lg:inline-block lg:mt-0 text-teal-100 font-semibold hover:text-white hover:bg-gray-800 rounded-lg mr-4 p-2">
              Taller
            </a>
            <a href="p_supervisada.html" class="block mt-4 lg:inline-block lg:mt-0 text-teal-100 font-semibold hover:text-white mr-4 hover:bg-gray-800 rounded-lg p-2">
              Práctica Supervisada
            </a>
            <a href="calculo_dibujo.html" class="block mt-4 lg:inline-block lg:mt-0 text-teal-100 font-semibold hover:text-white mr-4 hover:bg-gray-800 rounded-lg p-2">
                Cálculo y Dibujo
            </a>
            <a href="tecnologia.html" class="block mt-4 lg:inline-block lg:mt-0 text-teal-100 font-semibold hover:text-white hover:bg-gray-800 rounded-lg p-2">
              Tecnología
            </a>
          </div>
          <div>
              <input class="rounded-lg text-black p-2" type="search">
          </div>
          <button class="lg:ml-1 mt-2 lg:mt-0 rounded bg-green-600 hover:bg-green-800 p-2">Buscar</button>
        </div>
      </nav>
</body>

